.leed__subtitle {
    max-width: 500px;
    font-family: 'Inter',Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    /* or 120% */
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
}

@media (min-width: 426px) and (max-width: 768px) {
    .leed__subtitle {
      max-width: 70%;
      font-size: 4vw;
      line-height: 4.5vw;
    }
  }
  
  @media (max-width: 425px) {
    .leed__subtitle {
      max-width: 288px;
      font-size: 16px;
      line-height: 20px;
    }
  }
