.leed__image {
    display: block;
    margin: 64px 0 8px 0;
    max-width: 100%;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .leed__image {
      max-height: 580px;
      
    }
  }
  @media (min-width: 426px) and (max-width: 768px) {
    .leed__image {
      max-height: 480px;
      
    }
  }
  @media (max-width: 425px) {
    .leed__image {
      margin: 40px auto 8px;
      height: 200px;
    }
  }
