.place {
    display: grid;
    grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
    grid-gap: 48px 40px;
    margin-bottom: 80px;
  }

@media (min-width: 769px) and (max-width: 1024px) {
    .place {
      /* grid-template-columns: minmax(340px, 440px) minmax(352px, 456px); */
      grid-template-columns: 1fr 1fr;
      gap: 48px 32px;
    }
  }
  @media (min-width: 426px) and (max-width: 768px) {
    .place {
      max-width: calc(100% - 48px);
      /* grid-template-columns: minmax(320px, 340px), minmax(280px, 1fr); */
      grid-template-columns: 340px 1fr;
      gap: 48px 28px;
      margin: 0 auto;

    }
  }
  @media (min-width: 425px) and (max-width:680px) {
    .place {
      margin: 80px auto 0;
      grid-template-columns: 1fr;
      gap: 32px 0;
    }
  }
  @media (max-width: 425px) {
    .place {
      margin: 50px auto;
      grid-template-columns: 1fr;
      gap: 32px 0;
    }
  }
  
.place:last-child {
    margin: 0;
}

@media screen and (max-width: 768px) {
  .place:last-child {
    margin: 80px auto 0;
  }
}

@media screen and (max-width: 425px) {
  .place:last-child {
    margin: 50px auto;
  }
}
