.header__lang-lists {
    display: flex;
    padding: 0;
    margin: 18px 0 0 0;
    /* justify-content: flex-start; */
    /* align-items: flex-end; */
    /* margin: 0; */
    box-sizing: border-box;
    list-style-type: none;

}
@media screen and (max-width: 425px) {
  .header__lang-lists {
    margin: 0;
  }
}